.admin-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.admin-dropdowns{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    width: 100%;
}

.admin-select-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.admin-form {
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.submit-button {
    background-color: #F57F20;
    border-radius: 1.875rem; /* Updated to match the width of the button */
    font-size: 1.75rem;
    color: white;
    padding: 0.5rem 1rem; /* Adjusted padding for better button appearance */
    width: 10rem;
    margin-top: 2rem;
    transition: 0.15s;
    cursor: pointer; /* Added cursor style to indicate interactivity */

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0.125rem 1rem -0.75rem rgba(0, 0, 0, 0.2); /* Adjusted box shadow */
    }
}
.admin-input {
    padding: 0.75rem;
    margin-bottom: 2rem;
    height: 4rem;
    font-size: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;

    width: 35rem;
}

@media (max-width: 800px) {
    .admin-dropdowns{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        justify-content: space-around;
        width: 50%;
    }

    .admin-select {
        margin-bottom: 1rem;
    }
}

@media (max-width: 600px) {
    .admin-input {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .admin-input {
        width: 100%;
    }

    .admin-form {
        flex-direction: column;
    }
}