@import "./partials/_header";
@import "./partials/_login-signup.css";
@import "./partials/_footer.css";
@import "./partials/_animals-card.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #0c2340;
}

*{
    margin: 0;
    padding: 0;
}