.login-background {
  /* background-image: linear-gradient(to bottom, #00000000, #0c2340), url('https://cdn.pixabay.com/photo/2017/08/12/23/29/background-texture-2635740_640.jpg'); */
  background-size: cover;
  height: 100vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

.login-container {
  width: 55rem;
  animation: 0.5s ease-out 0s 1 fadeIn;
}

.login-header {
  background-color: #F57F20;
}

.login-body {
  background-image: linear-gradient(to bottom, #EAEAEA, #DEDEDE, #EAEAEA);
  height: fit-content;
}

.login-input {
  outline: none;
  border: #c5c5c5 2px solid;
  transition: 0.15s;

  &:focus {
    border: black 2px solid;
    transform: scale(1.005);
  }
}

.login-button {
  background-color: #F57F20;
  border-radius: 7.5rem;
  font-size: 1.75rem;
  color: white;
  padding: 0.5rem;
  width: 20rem;
  transition: 0.15s;

  &:hover {
    transform: scale(1.03);
    box-shadow: black 0 0.125rem 1rem -2rem;
  }
}

.login-line {
  height: 0.0625rem;
  width: 100%;
  border: 0.0625rem #b9b9b9 solid;
  margin: 0.5rem;
}

.login-line-text {
  color: #8c8c8c;
}

.gray-link {
  color: #8c8c8c !important;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}

.google-btn{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media (max-height: 700px), (max-width: 450px) {
  .login-container{
    padding: 0 0.75rem 0 0.75rem !important;
  }

  .login-header {
    height: 5rem;
  }

  .login-body {
    padding: 0 1rem 0 1rem !important;
  }

  .login-label {
    margin: 0 !important;
    font-size: 1.25rem !important;
  }

  .login-input {
    font-size: 1rem !important;
    padding: 0.75rem !important;
  }

  .login-button {
    font-size: 1.25rem;
    width: 15rem;
  }

  .gray-link {
    padding: 0;
  }
}